/* 2-color_variables */
$color-backgound: #6d6d6d;
$color-text: #3d3d3d;
body {
  color: $color-text;
  background-color: $color-backgound;
}

p {
  color: $color-text;
}

h2 {
  background-color: $color-backgound;
}
